header{
    position: relative;
    width: 100%;
    height: 100px;
    padding: .8em 0 0em;
}
header img{
    width: 110px;
    position: relative;
    top: -20px;
}
header .nav{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    margin: .7em 0;
    padding: 0;
}

ul.nav li {
    margin: 0 10px;
}

ul.nav li a {
    text-decoration: none;
    color: #50455a;
    text-transform: uppercase;
    font-weight: bolder;
}

ul.nav a.active {
    color: #584e62!important;
    text-decoration: underline!important;
}
.modal-wrapper {
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.modal /deep/ h2 {
    position: absolute;
    top: -1em;
    background: #337ab7;
    left: 0;
    width: 100%;
    color: #fff;
    padding: .5em;
    box-sizing: border-box;
    z-index: 1;
    font-family: 'HiraginoKaku-GothicPro', PingFang SC, Arial;
    text-transform: capitalize;
    font-weight: 100;
}
.modal {
    position: relative;
    width: 50%;
    margin: 5em auto;
    padding: 5em 2em 2em 2em;
    background: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    z-index: 10;
}
.modal button{
    outline: 0;
    border: 0;
    position: absolute;
    right: 1.4em;
    top: 1.3em;
    z-index: 2;
    background: transparent;
    color: #fff;
}

.light-button {
    color: #fff;
}