@font-face {
    font-family: 'HiraginoKaku-GothicPro';
    src: url('/assets/fonts/HiraginoKaku-GothicPro.eot?#iefix') format('embedded-opentype'),  
           url('/assets/fonts/HiraginoKaku-GothicPro.otf') format('opentype'),
         url('/assets/fonts/HiraginoKaku-GothicPro.woff') format('woff'), 
         url('/assets/fonts/HiraginoKaku-GothicPro.ttf') format('truetype'), 
         url('/assets/fonts/HiraginoKaku-GothicPro.svg#HiraginoKaku-GothicPro') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
body, html {
    height: 100%;
    font-family: 'HiraginoKaku-GothicPro', PingFang SC, Arial;
    color: #3e3e3e;
}

h2{
    font-size: 2em;
    text-transform: uppercase;
}
header ul li{
    display: inline-block;
}
.btn{
    display: inline-block;
    border-radius: .3em;
    padding: .5em 1.5em;
    margin: 0 .5em;
    text-decoration: none;
    color:#242424;
    outline:0;
    border:0;
    background: transparent;
}

.btn.btn-default{
    border:1px solid #242424;
}

.btn.btn-default:hover{
    background: #242424;
    color:#ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}