<div class="bg">
  <section class="jot-g hero-banner">
    <app-header></app-header>
  </section>
  <section class="jot-g overview">
    <div class="container">
      <div class="u-1-3">
        <h2>Write</h2>
        <p>Have a thought or idea? Jot it down in our portable, secure and dynamic platform. JOT makes it easy to write
          about your life and emotions. It's a private diary, a place to express yourself, or simply a place where you
          can write whatever you please.
        </p>
      </div>
      <div class="u-1-3">
        <h2>Share</h2>
        <p>While you can always keep your entries private, some thoughts are worth sharing to the world. Make a journal
          public so the JOT community can view it. Unlike other platforms, you decide what information you want to
          share. </p>
      </div>
      <div class="u-1-3">
        <h2>Explore</h2>
        <p>See what other people are thinking and feeling as others publish their personal journal entries. Feeling
          angry or happy and want to see if others can relate? Use JOT's emoji search to find entries that fit your
          mood. If you like someone's writing, follow them to see what they'll write next!</p>
      </div>
    </div>
  </section>
  <section class="jot-g">

  </section>
</div>