
.container {
    width: 40%;
    /* border: 1px solid black; */
}
i {
    color: whitesmoke;
    font-size: 25px;
    background: #584E62;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    padding: 11px 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


button {
    background: #50455A;
    border: 0;
    text-align: left;
    cursor: pointer;
    outline: 0;
    color: whitesmoke;
    border-radius: 5px;
    padding: 7px 0 5px;
    margin: 16px 0;
    position: relative;
    padding-left: 67px;
    font-weight: 100;
    width: 100%;
    font-size: 25px;
}
button:hover{
    transition: 1000ms;
    background: rgb(46, 39, 52);
    /* border: 1px solid rgb(182, 51, 39); */
} 

.message{
    width: 40%;
    background: green;
    color:#fff;
    padding: .5em;
    text-align: center;
}