
.container {
    width: 40%;
    /* border: 1px solid black; */
}
i {
    padding: 1em;
    /* background: #584E62; */
    color: whitesmoke;
    height: 100%;
    font-size: 25px;
    
}



button {
    background: #50455A;
    width: 10em;
    border:0;
    text-align: left;
    cursor: pointer;
    outline:0;
    font-size: 2em;
    color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    /* text-align: center; */
    margin: 20px 0;

}
button:hover{
    transition: 1000ms;
    background: rgb(105, 83, 126);
    /* border: 1px solid rgb(182, 51, 39); */
} 

.message{
    width: 40%;
    background: green;
    color:#fff;
    padding: .5em;
    text-align: center;
}