<div class="entry-container">

  <ul class="actions" *ngIf="entry.mine">
    <li *ngIf="!isEditing">
      <button class="edit-button" (click)="editEntry()"><i class="fas fa-pencil-alt"></i></button>
    </li>
    <li *ngIf="isEditing">
      <button class="edit-button" (click)="updateEntry()"><i class="fas fa-save"></i></button>
    </li>

  </ul>
  <!-- Entry Header -->

  <!-- Edit form -->
  <form #entryForm="ngForm">
    <div class="entry-header" [ngStyle]="{'background-image':  true ? 'url('+entry.image+')': '' }">

      <!-- Show title and summary -->
      <div class="title" *ngIf="!isEditing">{{entry.title}}</div>
      <div class="title">{{entry.username}}</div>
      <!-- HIDDEN - Edit title and summary -->
      <div class="edit-input" *ngIf="isEditing && entry.mine">
        <input class="edit-input" type="text" [(ngModel)]="entry.title" name="title" placeholder="Title">
        <app-file-uploader (UploadPath)="uploadPath($event)" [Path]="true"></app-file-uploader>
      </div>

      <!-- DATE -->
      <p class="entry-date">{{ (entry.status=="draft") ? entry.created_at : entry.publish_date }}</p>

      <!-- DELETE BUTTON -->
      <div *ngIf="isEditing && entry.mine">

        <div *ngIf="!youSure" class="action-delete">
          <button class="edit-button" (click)="areYouSure()"><i class="fas fa-trash"></i></button>
        </div>

        <div *ngIf="youSure">
          <div class="do-not-delete">
            <button class="edit-button" (click)="areYouSure()"><i class="fas fa-undo" style="color:lightseagreen"></i></button>
          </div>

          <div class="action-delete">
            <button class="edit-button" (click)="deleteEntry()"><i class="fas fa-trash" style="color:red"></i></button>
          </div>
        </div>

      </div>

    </div>
  </form>

  <!-- Emojis -->

  <div class="edit-emoji">
    <app-emoji (emojiEmitter)="emojiEmtter($event)" [isEditing]="isEditing" [emoji]="emojis"></app-emoji>
  </div>

  <!-- Entry text -->
  <div class="entry-text-container" [ngClass]="{ 'show-more': isEditing || showMore }" [ngStyle]="{'height':  isEditing || showMore ? entryHeight+'px': '' }">
    <div *ngIf="isEditing">
      <textarea [froalaEditor]='EditorOptions' [(froalaModel)]="entry.entry_text"></textarea>
    </div>
    <div *ngIf="!isEditing" class="fr-view" id="entry-content">
      <div [outerHTML]="entry.entry_text"></div>
    </div>
  </div>

  <!-- HIDDEN - Publish detail -->

  <div class="publisher" *ngIf="isEditing && entry.mine">
    <form [ngSwitch]="published" #publishForm="ngForm">
      <span>Share: </span>
      <span class=" radio">
        <label for="private">Private </label>
        <input type="radio" class="publish-radio" name="publish-type" [ngModel]="!entry.isPublic" value="private"
          (click)="setPrivacy('private')" checked ngModel>
      </span>
      <span class="radio">
        <label for="public">Public </label>
        <input type="radio" class="publish-radio" name="publish-type" value="public" [ngModel]="entry.isPublic" (click)="setPrivacy('public')"
          ngModel>
      </span>
    </form>
  </div>



  <!-- footer for entry -->
  <div class="entry-footer">
    <!-- <div class="extend-entry-button">
      <button class="extend-entry-button" (click)="publishToggler()">
        {{ (isPublic) ? 'PRIVATE' : 'PUBLIC' }}
      </button> </div>
      <div> -->
    <div>

    </div>

    <div>
      <button class="extend-entry-button" (click)="showMoreToggler()">
        {{ (showMore) ? 'SHOW LESS' : 'SHOW MORE' }}
      </button>
    </div>
    <div class="likes">
      <span>{{likes}}</span>
      <button (click)="likeEntry()"><i class="fas fa-heart" [ngStyle]="{'color':  likeClicked ? 'red': 'gray' }"></i></button>
    </div>
  </div>
</div>