
textarea {
    resize: none;
}

/* WRAPS ENTIRE ENTRY */
.entry-container {
    position: relative;
    margin: 1em 1em 4em;
    box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.entry-container .actions {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 9;
    padding: 0;
    margin: 0;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background: #b9b9b9;
    text-align: right;
}

/* DELETE */
.action-delete {
    position: absolute;
    top: 200px;
    right: -13px;
    padding: 0;
    margin: 0;
    width: 1.4em;
    height: 1.4em;
    border-radius: 100%;
    background: #ffd0d0;
    z-index: 1;
    text-align: center;
}

.do-not-delete {
    position: absolute;
    top: 160px;
    right: -13px;
    padding: 0;
    margin: 0;
    width: 1.4em;
    height: 1.4em;
    border-radius: 100%;
    background: #bcdbf7;
    z-index: 1;
    text-align: center;
}
.do-not-delete button {
    position: relative;
    left: -1px;
    top: -3px;
    font-size: 17px;
}
.action-delete button {
    font-size: 16px;
    top: -5px;
    position: relative;
    color: #000000;
}

.are-you-sure {
    float: right;
    color: gray;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

.entry-container .actions li{
    display: inline-block;
}
/* ENTRY-HEADER */
.entry-header {
    background-color: salmon;
    font-size: 24px;
    padding: 1em;
    margin: 0px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.entry-header:before {
    content: '';
    z-index: 1;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    color:#ffffff;
}

.entry-date, .title {
    position: relative;
    z-index: 5;
    font-size: 1em;
    margin: 0;
    color:#ffffff;
}

.entry-date{
    font-size: 0.6em;
}

.summary {
    font-size:16px;
    color: grey;
    padding: 1em;

}

.edit-input {
    margin: 0px;
    border: 0;
    outline: 0;
    transition: 2000ms;
    background: transparent;
    font-style: italic;
    width: 100%;
    font-size: 1em;
    z-index: 9;
    position: relative;
    margin-bottom: 1em;
}

.edit-label {
    color: whitesmoke
}
input.edit-input{
    margin: 10px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.88);
    color: #515151;
}
.edit-button {
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    line-height: 30px;
    text-align: center;
    padding: 1px 10px;
}

.edit-button :active {
    color: yellowgreen

}

.display-none{
    display: none
} 



/* EMOJIS */
.emojis {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    justify-content: center;

}
.emoji {
    width: 2em;
    padding: 5px;

}

/* ENTRY-TEXT */

.entry-text-container{
    overflow: hidden;
    transition: 500ms;
    min-height: 300px;
    height: 300px;
    padding:1em;
}

.entry-text-container.show-more{
    min-height: 400px;
    padding-bottom:5em;
}

.entry-text-container /deep/ * {
    word-wrap: break-word!important;
}
.entry-text {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    font: 2px;
    font-size: 18px;
    line-height: 100%;
    border: none;
    outline: none;
    padding: 1em;
    background: linear-gradient(whitesmoke 96%, lightgray 99%) ;
}


/* PUBLISHER */
.publisher {
    background-color: gainsboro;
    border:0;
    outline:0;
    font-size:12px;
    padding: 1em;
}

.radio {
    padding: 1em;
    font: black
}

/* FOOTER */

.entry-footer  {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    opacity: 0.5;
    box-shadow: 0px -7px 56px -11px rgba(0, 0, 0, 0.70);
}

.show-publisher-button {
    background: transparent;
    border:0;
    outline:0;
}

.extend-entry-button {
    background: transparent;
    border:0;
    outline:0;
    font-size: 12px;
}

.likes {
    font: 16px;
}

.likes button {
    border: none;
    outline: none;
}

img {
    height: 25px;
}


