
textarea {
    resize: none;
}

/* WRAPS ENTIRE ENTRY */
.entry-container {
    position: relative;
    margin: 1em 1em 4em;
    box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.entry-container .actions {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 0;
    margin: 0;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background: #b9b9b9;
    text-align: right;
}
.entry-container .actions li{
    display: inline-block;
}
/* ENTRY-HEADER */
.entry-header {
    background-color: salmon;
    font-size: 24px;
    padding: 1em;
    margin: 0px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}

.summary {
    font-size:16px;
    color: grey;
    padding: 1em;

}

.edit-input{
    text-align: left;
    margin: 0px;
    border:0;
    outline:0;
    transition: 2000ms;
    background: transparent;
    font-style: italic;
    width: 100%;
    font-size: 1em;
}

.edit-label {
    color: whitesmoke
}

.edit-button {
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    line-height: 30px;
    text-align: center;
    padding: 1px 10px;
}

.edit-button :active {
    color: yellowgreen

}

.display-none{
    display: none
} 



/* EMOJIS */
.emojis {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;

}



/* ENTRY-TEXT */

.entry-text-container{
    overflow: hidden;
    transition: 500ms;
    min-height: 300px;
    height: 300px;
    padding:1em;
}

.entry-text-container.show-more{
    min-height: 300px;
    padding-bottom:5em;
}

.entry-text-container /deep/ * {
    word-wrap: break-word!important;
}
.entry-text {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    font: 2px;
    font-size: 18px;
    line-height: 100%;
    border: none;
    outline: none;
    padding: 1em;
    background: linear-gradient(whitesmoke 96%, lightgray 99%) ;
}


/* PUBLISHER */
.publisher {
    background-color: gainsboro;
    border:0;
    outline:0;
    font-size:12px;
    padding: 1em;
}

.radio {
    padding: 1em;
    font: black
}

/* FOOTER */

.entry-footer  {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    opacity: 0.5;
    box-shadow: 0px -7px 56px -11px rgba(0, 0, 0, 0.70);
}

.show-publisher-button {
    background: transparent;
    border:0;
    outline:0;
}

.extend-entry-button {
    background: transparent;
    border:0;
    outline:0;
    font-size: 12px;
}

likes {
    font: 16px
}

img {
    height: 25px;
}

