.entry-container {
    /* border: 1px solid black; */
    margin: 1em;
    border-radius: 10px
}

.entry-header {
    background-color: salmon;
    font-size: 24px;
    padding: 1em;
    margin: 0px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}

.summary {
    font-size:16px;
    color: grey;
    padding: 1em;

}

.edit-input{
    text-align: center;
    margin: 0px;
    border:0;
    outline:0;
    transition: 2000ms;
    background: transparent;
    font-style: italic
}



.entry-text {
    width:100%;
    height: 200px;
    font: 2px;
    background: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 100%;
    padding: 1em;

}

.emojis {
    text-align: center;
}

.edit-button {
    float:   right;
    border-top-right-radius: 10px;
    background: transparent;
    border:0;
    outline:0;
    color: whitesmoke
}

.edit-button :active {
    color: yellowgreen

}

.display-none{
    display: none
} 